body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f4ea;
  font-family: sans-serif;
  color: rgb(55 58 60);

}

* {
  margin: 0;
}

@font-face {
  font-family: "monteserat";
  src: url(fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: "dancingScript";
  src: url(fonts/DancingScript-Regular.ttf);
}
